{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dignissimos ipsum repudiandae aut, aliquid aperiam sint alias ullam inventore, quod fugiat amet voluptates, iste quis commodi accusantium? Voluptatum illum ad fuga necessitatibus, maxime iste porro doloribus dolores sit temporibus excepturi mollitia assumenda repellat dolor ullam, nesciunt alias aspernatur sint omnis? Tempore nesciunt commodi cupiditate laborum expedita, molestiae consectetur illum? Veritatis magnam veniam voluptates optio ratione! Enim quis maxime placeat provident, quibusdam quo explicabo aperiam nulla quos inventore voluptatibus et accusamus repudiandae laborum itaque odit doloremque, incidunt molestiae eum nam fugit minima maiores velit aspernatur? Facilis dolores magni vero nobis tenetur?</p>

<p>Website created by {{ username }}</p>

{% endblock %}